@model UserSignInModel
<html>
    <head>
        <title>Custom Cookie Based</title>
    </head>
    <body>
        <form method="post"  asp-action="SignIn" asp-controller="Home">
        <input asp-for="@Model.Username"/>    
        <input asp-for="@Model.Password"/>
        <input asp-for="@Model.Remember" type="checkbox"/> <label>Beni Hatırla</label>
        <div>
            <button type="submit">Giriş Yap</button>
        </div>
        </form>
    </body>
</html>
